<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<main class="pt-5">
  <div class="container p-5 d-flex flex-column align-items-center">
    <% if (errorMessage) { %>
      <p class="bg-danger text-white border border-5 rounded p-2 mb-3"><%=errorMessage%></p>
    <% } %>
    <form action="/reset-password" method="POST" novalidate>
      <div class="form-group">
        <label class="mb-2" for="email">Please, enter your email down below. We'll send you a link to reset your password.</label>
        <input class="form-control mb-3 <%= errors.find(err => err.param === 'email') ? 'invalid' : '' %>" type="email" name="email" placeholder="Enter your email here" value="<%= hasError ? oldInput : '' %>" />
      </div>
      <button class="btn reset-btn">Send link</button>
      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    </form>
  </div>
<%-include('../includes/end.ejs')%>